.light-theme{

  --color-black : #060606;
  --color-white : #FFFFFF;

  --primary-color    :#fff;
  --seccundary-color :rgba(40,12,90, 87%);
  --tertiary-color   : #C6E3FF;
  --primary-background-gradient : linear-gradient(180deg, rgba(127,156,213,1) 0%, rgba(132,164,225,0.8) 50%, rgba(255,255,255,1) 100%);
}
