@import '../../styles/themes/index.scss';
@import '../../styles/mixins/index.scss';
@import '../../styles/typography/index.scss';

.register{
  background: var(--primary-background-gradient);
  width: 100%;
  height: 100vh;
  @include flex-layout($direction: column, $align: center);

  .register__logo{
    @include flex-layout($direction: column);
    text-align: center;
  }

  .register__form{
    width: min(350px, 90%);
    padding: 20px;
    margin: 0px auto;
    text-align: center;
    @include grid-layout($gap : 15px);

    .register__form-container, .register__form-inputs{
      @include grid-layout($gap : 15px);
    }

    .register__form-inputs{
      gap: 20px;
    }

    .register__form-label{
      width: 100%;
      position: relative;
      display: grid;
      grid-template-areas: "input";
    }

    .register__form-input{
      grid-area: input;
      padding: 15px 35px 15px 15px;
      border: none;
      transition: border 100ms ease-in-out;
      background-color: transparent;
      transition: all 300ms;
      outline: none;
    }

    .register__form-bar{
      position: relative;
      display: block;
      background-color: var(--secondary-color);
      height: 2.5px;
      border-radius: 5px;
      overflow: hidden;
    }

    .register__form-bar:before, .register__form-bar:after{
      content: '';
      height: 2.5px;
      width: 0;
      position: absolute;
      background-color: var(--tertiary-color);
      transition: 0.3s ease-in-out all;
    }

    .register__form-bar:before{
      left: 50%;
    }

    .register__form-bar:after{
      right: 50%;
    }

    .register__form-input:focus ~ .register__form-bar:before,
    .register__form-input:focus ~ .register__form-bar:after {
      width: 50%;
    }

    .register__form-bar--error{
      background-color: var(--color-error);
    }

    .register__form-bar--error:before, .register__form-bar--error:after{
      background-color: var(--color-red);
    }

    .register__form-input:focus ~ .register__form-bar--error:before,
    .register__form-input:focus ~ .register__form-bar--error:after {
      width: 0%;
    }

    .register__form-text{
      color: var(--secondary-color);
      grid-area: input;
      @include flex-layout();
      margin-left: 10px;
      width: max-content;
      cursor: text;
      font-size: clamp( $font-size-md , 0.5rem + 1.6vw, $font-size-lg);
      transform-origin: left center;
      transition: transform 300ms ease-in-out;
    }

    .register__form-input:focus + .register__form-text,
    .register__form-input:not(:placeholder-shown) + .register__form-text{
      transform: translateY(-50%) scale(.9);
    }

    .register__form-password-icon{
      cursor: pointer;
      grid-area: input;
      display: flex;
      justify-self: end;
      margin: auto 0px;
      width: max-content;
      height: max-content;
      font-size: clamp($font-size-sm, 0.87rem + 0.416vw, $font-size-md);
      color: var(--secondary-color-soft);
      transition: transform 100ms ease-in-out;

      &:hover{
        opacity: 0.7;
      }

      &:active{
        transform: scale(0.9);
      }

    }

    .register__form-text--error{
      color: var(--color-error);
    }

    .register__form-error-text{
      font-size: clamp($font-size-sm, 0.87rem + 0.416vw, $font-size-md);
      color: var(--color-error);
      text-align: left;
      margin: 5px 0px 0px 5px;
      position: relative;
    }

    .register__form-button{
      background-color: var(--secondary-color);
      color: var(--color-white);
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-size: clamp($font-size-sm, 0.87rem + 0.416vw, $font-size-md);
      transition: transform 100ms ease-in-out;

      &:hover{
        opacity: 0.9;
        cursor: pointer;
      }

      &:active{
        transform: scale(0.9);
      }
    }

    .register__form-helper-text{
      font-size: clamp($font-size-sm, 0.87rem + 0.416vw, $font-size-md);

      a{
        color: var(--secondary-color);
        text-decoration: none;
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
}
